{%extends 'base.html'%}

{%block main%}
	<div class= "rectangle">
		<h3><center>{{user.firstname}} {{user.lastname}}</center></h3>
		<p> <img src="{{url_for('static',filename="uploads/"+user.photo) }}"/>
		<i class="far fa-envelope"> </i>{{user.email}} <br> <i class="fas fa-map-marker-alt"></i> {{user.location}} <br> <i class="far fa-calendar"></i> Joined on {{user.date_joined}}</p>
		<h5> About Me </h5>
		<p> {{user.biography}}</p>
		<div class="flex">
		<button type="button" class="sm">Send Message</button> <button type="button" class="fw">Follow</button>	
	</div>
	<br>
	<br>
</div>
{%endblock%}